<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shetj.diyalbume">
    <!-- //基础权限 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 蓝牙6.0需要模糊的地址 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/shetj_logo"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/base_network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!--  创建   https://developer.android.com/guide/topics/ui/shortcuts/creating-shortcuts -->


        <activity android:name=".bubble.BubbleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"/>
        <activity android:name=".androidxtest.AndroidXActivity" />
        <activity android:name=".ffmpeg.RxFFmpegActivity" />
        <activity android:name=".camera.CameraxActivity" />
        <activity android:name=".swipcard.SwipCardActivity" />
        <activity android:name=".playVideo.media.MediaActivity" />
        <activity android:name=".markdown.MarkDownActivity" />
        <activity android:name=".worker.WorkerActivity" />
        <activity android:name=".behavior.BehaviorActivity" /> <!-- service -->
        <activity android:name=".jobscheduler.JobSchedulerActivity" /> <!-- end service -->
        <activity
            android:name=".main.view.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".createAlbum.view.CreateActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shetj.diyalbume.main.view.MainActivity" />
        </activity>
        <activity
            android:name=".playVideo.video.PlayVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode" />
        <activity android:name=".test.BackgroundActivity" />
        <activity android:name=".test.CustomActivity" />
        <activity android:name=".ppttest.Main2Activity" />
        <activity android:name=".encrypt.EncryptActivity" />
        <activity android:name=".ppttest.StartChallengeActivity" />
        <activity android:name=".gltest.GlTestActivity" />
        <activity android:name=".gltest.OpenGL3DActivity" />
        <activity android:name=".fingerprint.FingerPrintActivity" />
        <activity android:name=".image.ImageTestActivity" />
        <activity android:name=".executors.ExecutorsActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".bluetooth.BluetoothActivity" />
        <activity android:name=".lottie.TestLottieActivity" />
        <activity android:name=".animator.TranstionActivity" />
        <activity android:name=".aspect.AspectActivity" />
        <activity android:name=".map.BDMapActivity" />
        <activity android:name=".main.view.Main3Activity" />
        <activity android:name=".image.FrescoActivity" />
        <activity android:name=".pipiti.gesture.GestureActivity" />
        <activity android:name=".main.view.ASAutoCodeActivity" />
        <activity android:name=".main.view.ViewActivity" />
        <activity android:name=".pipiti.localMusic.LocalMusicActivity" />
        <activity android:name=".ppttest.NewIndexActivity" />
        <activity android:name=".ppttest.PPtTestActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="584027af99f0c77125001745" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="def" />
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <service
            android:name=".jobscheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".utils.DownloadService"
            android:enabled="true" />
        <service android:name=".aidltest.MyService">
            <intent-filter>
                <action android:name="com.shetj.MyService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
<!--        <service android:name=".playVideo.media.MediaService">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.media.browse.MediaBrowserService" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <service android:name=".playVideo.media.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastReceiver.NOISYStateBroadcastReceive">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>