<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shetj.diyalbume">

    <!-- //基础权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <!-- 蓝牙6.0需要模糊的地址 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="584027af99f0c77125001745"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="def"/>
        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>

        <activity
            android:name=".main.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".createAlbum.view.CreateActivity"
            android:parentActivityName=".main.view.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shetj.diyalbume.main.view.MainActivity"/>
        </activity>
        <activity
            android:name=".playVideo.PlayVideoActivity"
            android:label="@string/title_activity_paly_video"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.BackgroundActivity"
            android:label="@string/title_activity_background"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".test.CustomActivity"
            android:label="@string/title_activity_custom"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".miui.MiUIActivity"
            android:label="@string/title_activity_mi_ui"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ppttest.Main2Activity">
        </activity>
        <activity android:name=".encrypt.EncryptActivity">
        </activity>
        <activity android:name=".ppttest.StartChallengeActivity">
        </activity>
        <activity android:name=".gltest.GlTestActivity">
        </activity>
        <activity android:name=".gltest.OpenGL3DActivity">
        </activity>

        <service android:name=".aidltest.MyService">
            <intent-filter>
                <action android:name="com.shetj.MyService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".fingerprint.FingerPrintActivity">
        </activity>
        <activity android:name=".image.ImageTestActivity">
        </activity>
        <activity android:name=".executors.ExecutorsActivity">
        </activity>
        <activity android:name=".animator.AnimatorActivity">
        </activity>
        <activity android:name=".bluetooth.BluetoothActivity">
        </activity>
        <activity android:name=".lottie.TestLottieActivity">
        </activity>
        <activity android:name=".animator.TranstionActivity">
        </activity>
    </application>

</manifest>